<!DOCTYPE html>
<html ng-app="gemStore">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Gem Store</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="main.css" />

  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="StoreController as store">
 <br />
  <div class="title">
    <h1 class="text-center">Flatlander Crafted Gems</h1>
    <h2 class="text-center">- an AngularJS store -</h2>
  </div>
  <br />
  <div class="list-group">
    <div class="list-group-item" ng-repeat="product in store.products">
      <!-- <h3 ng-include="'partials/product-title.html'"></h3> -->
      <h3 product-title></h3>
      <p> {{ product.description }} </p>
      <button class="btn btn-success" ng-show="product.canPurchase"> Add to cart </button>
      <!-- Image Gallery  -->
        <div ng-show="product.images.length">
        <!-- Fail 1 Message -->
        <div ng-show="product.images">
          <img class="img img-circle img-thumbnail center-block" ng-src="{{product.images[0]}}" />
          <ul class="clearfix">
            <li class="small-image pull-left thumbnail" ng-repeat="image in product.images"> <img ng-src="{{image}}" /> </li>
          </ul>
        </div>

      <product-panels ng-controller="PanelController as panel"></product-panels>
      
    </div>
  </div>
  </div>
</body>
</html>
