<!DOCTYPE html>
<html ng-app="gemStore">
<head>
  <meta charset="UTF-8">
  <title>Gem Store</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="StoreController as store">
  <h1>Flatlander Crafted Gems</h1>
  <h2>- an Angular store -</h2>
  <div ng-repeat="product in store.products">
    <h1> {{ product.name }} </h1>
    <h2> {{ product.price | currency }} </h2>
    <p> {{ product.description }} </p>
    <button ng-show="product.canPurchase"> Add to cart </button>
    
  <section ng-controller="PanelController as panel">
    <ul class="nav nav-pills">
      <li ng-class="{active: panel.isSelected(1)}">
        <a href ng-click="panel.selectTab(1)">Description</a>
      </li>
      <li ng-class="{active: panel.isSelected(2)}">
        <a href ng-click="panel.selectTab(2)">Specifications</a>
      </li>
      <li ng-class="{active: panel.isSelected(3)}">
        <a href ng-click="panel.selectTab(3)">Reviews</a>
      </li>
    </ul>
    
    <div class="panel" ng-show="panel.isSelected(1)">
      <h4>Description</h4>
      <blockquote>None yet</blockquote>
    </div>
    <div class="panel" ng-show="panel.isSelected(2)">
      <h4>Specifications</h4>
      <blockquote>None yet</blockquote>
    </div>
    <div class="panel" ng-show="panel.isSelected(3)">
      <h4>Review</h4>
      <blockquote>None yet</blockquote>
    </div>
  </section>
  
  </div>
</body>
</html>