<!DOCTYPE html>
<html ng-app="gemStore">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>Gem Store</title>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="main.css" />

  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</head>
<body ng-controller="StoreController as store">
 <br />
  <div class="title">
    <h1 class="text-center">Flatlander Crafted Gems</h1>
    <h2 class="text-center">- an AngularJS store -</h2>
  </div>
  <br />
  <div class="list-group">
    <div class="list-group-item" ng-repeat="product in store.products">
      <h3> {{ product.name }} <em class="pull-right">{{ product.price | currency }}</em> </h3>
      <p> {{ product.description }} </p>
      <button class="btn btn-success" ng-show="product.canPurchase"> Add to cart </button>
      <!-- Image Gallery  -->
        <div ng-show="product.images.length">
        <!-- Fail 1 Message -->
        <div ng-show="product.images">
          <img class="img img-circle img-thumbnail center-block" ng-src="{{product.images[0]}}" />
          <ul class="clearfix">
            <li class="small-image pull-left thumbnail" ng-repeat="image in product.images"> <img ng-src="{{image}}" /> </li>
          </ul>
        </div>

      <section class="tab" ng-controller="PanelController as panel">
        <ul class="nav nav-pills">
          <li ng-class="{active: panel.isSelected(1)}">
            <a href ng-click="panel.selectTab(1)">Description</a>
          </li>
          <li ng-class="{active: panel.isSelected(2)}">
            <a href ng-click="panel.selectTab(2)">Specifications</a>
          </li>
          <li ng-class="{active: panel.isSelected(3)}">
            <a href ng-click="panel.selectTab(3)">Reviews</a>
          </li>
        </ul>

        <div class="panel" ng-show="panel.isSelected(1)">
          <h4>Description</h4>
          <blockquote>{{product.description}}</blockquote>
        </div>
        <div class="panel" ng-show="panel.isSelected(2)">
          <h4>Specifications</h4>
          <blockquote>Shine: {{product.shine}}</blockquote>
        </div>
        <div class="panel" ng-show="panel.isSelected(3)">
          <h4>Review</h4>
          <blockquote ng-repeat="review in product.reviews">
            <b>{{review.stars}} Stars: </b>
            {{review.body}} 
            <cite class="secondary-text">- {{review.author}}</cite>
          </blockquote>
          
          <form name="reviewForm">
            <blackquote>
              <b>{{review.stars}} Stars: </b>
              {{review.body}}
              <cite>by: {{review.author}}</cite>
            </blackquote>
            <select ng-model="review.stars" class="btn btn-default dropdown-toggle">
              <option value="1">1 star</option>
              <option value="2">2 stars</option>
              <option value="3">3 stars</option>
              <option value="4">4 stars</option>
              <option value="5">5 stars</option>
            </select>
            <textarea ng-model="review.body" class="form-control" placeholder="Comment"></textarea>
            <label>by:</label>
            <input ng-model="review.author" type="email" class="form-control" placeholder="email" />
            <input type="submit" value="Submit" class="btn btn-primary" />
          </form>
          
        </div>
      </section>
    </div>
  </div>
  </div>
</body>
</html>